<div class="p-" style="height: calc(100vh - 78px)">
  <div class="flex flex-col-reverse sm:flex-col">
    <div>
      <!-- <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Type - 1"> -->
      <p class="p-1 text-black font-medium text-center mx-auto">Self aligning ball bearings open-type</p>
      <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4 gt-xs:space-x-4 p-2 m-1">
        <div class="relative flex flex-row lt-xs:flex-col lt-xs:space-y-4 justify-center">
          <div class="flex justify-center">
            <img
              src="../../../../../../assets/images/self aligning ball bearing1.png"
              class="w-[200px] lt-xs:w-[250px] h-[350px]"
            />
          </div>
          <div class="flex justify-center">
            <img
              src="../../../../../../assets/images/self aligning ball bearing2.png"
              class="w-[200px] lt-xs:w-[250px] h-[350px]"
            />
          </div>

          <h1 class="absolute top-[164px] left-[146px] lt-xs:left-[263px] lt-xs:top-[147px]">{{ d }}</h1>
          <h1 class="absolute top-[164px] left-[-15px] lt-sm:left-[8px] lt-xs:top-[148px]">{{ D }}</h1>
          <h1 class="absolute top-[0px] left-[105px] lt-xs:left-[154px] lt-xs:top-[-15px]">{{ B }}</h1>
          <h1 class="absolute top-[41px] left-[150px] lt-xs:left-[190px]">{{ r }}</h1>
        </div>
        <div class="relative flex flex-wrap justify-center">
          <img src="../../../../../../assets/images/self aligning ball bearing3.png" class="w-[250px] h-[350px]" />
          <!-- <img src="../../../../../assets/images/single_row_ball_bearing_two.png" class="w-[300px] h-[350px]" /> -->

          <h1 class="absolute top-[170px] left-[41px] lt-xs:left-[8px]">{{ Da }}</h1>
          <h1 class="absolute top-[169px] left-[242px] lt-xs:left-[264px]">{{ da }}</h1>
          <h1 class="absolute top-[26px] left-[181px] lt-xs:left-[200px]">{{ ra }}</h1>
        </div>
      </div>
      <!-- </mat-tab>
        <mat-tab label="Type - 2">
          <p class="p-1 text-black font-medium text-center mx-auto">
            Single-row deep groove ball bearing shielded type, sealed type
          </p>
          <div class="flex flex-wrap justify-center space-x-0 py-2 sm:space-x-4">
            <div class="relative w-[550px] flex flex-wrap justify-center">
              <img
                src="../../../../../assets/images/single_row_ball_bearing_shieledtype.png"
                class="h-[350px] w-full"
              />
              <h1 class="absolute top-[177px] left-[132px]">{{ d }}</h1>
              <h1 class="absolute top-[180px] left-[-5px]">{{ D }}</h1>
              <h1 class="absolute top-[39px] left-[66px]">{{ B }}</h1>
              <h1 class="absolute top-[82px] left-[106px]">{{ r }}</h1>
              <h1 class="absolute top-[125px] left-[179px]">{{ z }}</h1>
            </div>
            <div class="relative w-[550px] flex flex-wrap justify-center">
              <img src="../../../../../assets/images/single_row_ball_bearing_sealedtype.png" class="h-[350px] w-full" /> -->
      <!--<h1 class="absolute top-[177px] left-[132px]">{{ d }}</h1>-->
      <!--<h1 class="absolute top-[180px] left-[-5px]">{{ D }}</h1>-->

      <!--<h1 class="absolute top-[39px] left-[66px]">{{ B }}</h1>-->
      <!-- <h1 class="absolute top-[181px] left-[340px]">{{ Da }}</h1>

              <h1 class="absolute top-[74px] left-[481px]">{{ r }}</h1>
            </div>
          </div>
        </mat-tab> -->
      <!-- <mat-tab label="Type - 3">
          <p class="p-1 text-black font-medium text-center mx-auto">
            Single-row deep groove ball bearing snap ring groove type, locating snap ring type
          </p>
          <div class="flex flex-wrap justify-center space-x-0 py-2 sm:space-x-4">
            <div class="relative w-[550px] flex flex-wrap justify-center">
              <img src="../../../../../assets/images/single_row_ball_bearing_snap_ring.png" class="h-[350px] w-full" />
              <h1 class="absolute top-[149px] left-[160px]">{{ d }}</h1>
              <h1 class="absolute top-[151px] left-[-7px]">{{ D }}</h1>
              <h1 class="absolute top-[-5px] left-[95px]">{{ B }}</h1>
              <h1 class="absolute top-[43px] left-[126px]">{{ r }}</h1>
            </div>
            <div class="relative w-[550px] flex flex-wrap justify-center">
              <img
                src="../../../../../assets/images/single_row_ball_bearing_snap_ring_two.png"
                class="h-[350px] w-full"
              /> -->
      <!-- <h1 class="absolute top-[160px] left-[301px]">{{ d }}</h1>
              <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>
              <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1>
              <h1 class="absolute top-[40px] left-[180px]">{{ r }}</h1>-->
      <!-- <h1 class="absolute top-[146px] left-[256px]">{{ ra }}</h1>
              <h1 class="absolute top-[159px] left-[88px]">{{ Da }}</h1>
              <h1 class="absolute top-[182px] left-[369px]">{{ da }}</h1>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group> -->
      <!-- </div> -->

      <div>
        <!-- <app-deep-groove-table (bearingValue)="receivedValue($event)"></app-deep-groove-table> -->
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
  <app-Selftableopentype (bearingValue)="receivedValue($event)"> </app-Selftableopentype>
</div>
