<div class="p-1" style="height: calc(100vh - 78px)">
  <div class="flex flex-col-reverse sm:flex-col">
    <div>
      <!-- <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Type - 1"> -->
      <p class="p-1 text-black font-medium text-center mx-auto">Miniature one-way clutches</p>
      <div class="flex justify-center p-2 m-1">
        <div class="relative flex flex-col lt-xs:flex-col space-y-4 justify-center">
          <!-- <img
                src="../../../../../../assets/images/extrasmallopensealed.png"
                class="w-[600px]  h-[350px]"
              /> -->
          <div class="flex flex-row lt-xs:flex-col lt justify-center lt-xs:space-y-4">
            <img
              src="../../../../../../assets/images/miniature1.png"
              class="w-[300px] h-[300px] lt-xs:w-[300px]"
              alt=""
            />
            <div class="flex justify-center lt-xs:space-y-4">
              <img
                src="../../../../../../assets/images/miniature2.png"
                class="w-[200px] h-[300px] lt-xs:w-[300px]"
                alt=""
              />
            </div>
          </div>
          <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4">
            <div class="flex justify-center">
              <img
                src="../../../../../../assets/images/miniature3.png"
                class="h-[300px] w-[200px] lt-xs:w-[300px]"
                alt=""
              />
            </div>
            <div class="flex justify-center">
              <img
                src="../../../../../../assets/images/miniature4.png"
                class="h-[300px] w-[200px] lt-xs:w-[300px]"
                alt=""
              />
            </div>
            <div class="flex justify-center">
              <img
                src="../../../../../../assets/images/miniature5.png"
                class="h-[300px] w-[200px] lt-xs:w-[300px]"
                alt=""
              />
            </div>
          </div>
          <h1 class="absolute top-[101px] left-[242px] gt-lg:left-[241px] lt-xs:top-[101px] lt-xs:left-[181px]">
            {{ Fw }}
          </h1>

          <h1 class="absolute top-[103px] left-[281px] lt-xs:top-[100px] lt-xs:left-[219px]">{{ D1 }}</h1>
          <h1 class="absolute top-[3px] left-[158px] lt-xs:left-[103px] lt-xs:top-[2px]">{{ B }}</h1>
          <h1 class="absolute top-[101px] left-[320px] lt-xs:left-[256px] lt-xs:top-[97px]">{{ D2 }}</h1>
          <h1 class="absolute top-[319px] left-[103px] lt-xs:left-[144px] lt-xs:top-[633px]">{{ A }}</h1>
          <h1 class="absolute top-[536px] left-[222px] lt-xs:left-[34px] lt-xs:top-[1114px]">{{ HD }}</h1>
          <h1 class="absolute top-[335px] left-[509px] lt-xs:left-[133px] lt-xs:top-[1263px]">{{ a }}</h1>
          <h1 class="absolute top-[390px] left-[417px] lt-xs:left-[31px] lt-xs:top-[1339px]">{{ b }}</h1>
          <h1 class="absolute top-[360px] left-[529px] lt-xs:top-[1307px] lt-xs:left-[181px]">{{ r }}</h1>
          <h1 class="absolute top-[522px] left-[507px] lt-xs:top-[1466px] lt-xs:left-[151px]">{{ Da }}</h1>
          <h1 class="absolute top-[524px] left-[536px] lt-xs:top-[1470px] lt-xs:left-[186px]">{{ Da2 }}</h1>

          <!--<h1 class="absolute top-[239px] left-[495px] lt-xs:top-[428px] lt-xs:left-[173px]">{{ NF }}</h1>
              <h1 class="absolute top-[430px] left-[144px] lt-xs:left-[185px] lt-xs:top-[619px]">{{ da }}</h1>
              <h1 class="absolute top-[430px] left-[415px] lt-xs:top-[936px] lt-xs:left-[58px]">{{ Da }}</h1>
              <h1 class="absolute top-[433px] left-[379px] lt-xs:left-[230px] lt-xs:top-[938px]">{{ dc }}</h1>
              <h1 class="absolute top-[428px] left-[579px] lt-xs:top-[1276px] lt-xs:left-[240px]">{{ dd }}</h1>
              <h1 class="absolute top-[334px] left-[334px] lt-xs:left-[174px] lt-xs:top-[841px]">{{ ra }}</h1>
              <h1 class="absolute top-[330px] left-[125px] lt-xs:top-[519px] lt-xs:left-[165px]">{{ rb }}</h1>
              <h1 class="absolute top-[431px] left-[241px] lt-xs:left-[102px] lt-xs:top-[959px]">{{ db }}</h1>

              <h1 class="absolute top-[448px] left-[-3px] lt-xs:left-[42px] lt-xs:top-[638px]">{{ Db }}</h1> -->
        </div>
      </div>
      <!-- <div class="flex flex-wrap justify-center p-2 m-1">
              <img src="../../../../../../assets/images/extrasmallopen2.png" class="w-[500px] h-[300px]" />

              <h1 class="absolute top-[181px] left-[225px]">{{ d }}</h1>
              <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>
              <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1>-->
      <!-- <h1 class="absolute top-[22px] left-[398px]">{{ r }}</h1> -->

      <!-- <h1
                class="absolute top-[457px] xxl:left-[883px] left-[116px] lt-xs:left-[7px] lt-xs:top-[728px] gt-lg:left-[322px] md:left-[138px]"
              >
                {{ Da }}
              </h1> -->
      <!-- <h1 class="absolute top-[148px] left-[533px] gt-xl:left-[1302px] gt-lg:left-[537px]">
              {{ da }}
            </h1> -->
      <!-- <h1
              class="absolute top-[50px] gt-xl:left-[1062px] lg:left-[294px] gt-lg::left-[500px] md:left-[515px] lt-xs:left-[252px]"
            >
              {{ ra }}
            </h1>
            </div> -->

      <!-- <div class="flex justify-center p-2 m-1">
            <h1 class="absolute top-[520px] left-[135px] gt-lg:left-[339px] md:left-[159px] gt-xl:left-[906px]">
              {{ Da }}
            </h1>
          </div> -->

      <app-miniatureonewaytable (bearingValue)="receivedValue($event)"> </app-miniatureonewaytable>
      <!-- </mat-tab> -->
      <!-- <mat-tab label="Type - 2">
          <p class="p-1 text-black font-medium text-center mx-auto">
            Extra-small ball bearings, miniature ball bearings flanged type
          </p>
          <div class="flex flex-row lt-md:flex-col justify-center gt-xs:space-x-4 lt-sm:space-y-4 p-2 m-1">
            <div class="relative justify-center">
              <img src="../../../../../../assets/images/flangedtype1.png" class="h-[350px] w-[400px]" /> -->
      <!-- <h1
                class="absolute top-[152px] left-[81px] md:left[87px] gt-xl:left-[96px] gt-lg:left-[91px] lt-xs:left[61px] lt-sm:left-[55px]"
              >
                {{ d2 }}
              </h1>
              <h1 class="absolute top-[175px] left-[-1px]">{{ D2 }}</h1>
              <h1
                class="absolute top-[63px] left-[3px] lg:left-[-1px] gt-xl:left-[4px] md:left-[3px] lt-xs:left-[-5px]"
              >
                {{ r2 }}
              </h1>
              <h1 class="absolute top-[129px] left-[170px] lg:left-[147px] gt-lg:left-[282px] lt-xs:left-[134px]">
                {{ r12 }}
              </h1>
              <h1 class="absolute top-[1px] left-[55px] gt-lg:left-[65px] lt-xs:left-[46px]">{{ B2 }}</h1>
              <h1 class="absolute top-[26px] left-[82px] gt-lg:left-[97px] md:left-[89px] lt-xs:left-[72px]">
                {{ c1 }}
              </h1>
              <h1 class="absolute top-[41px] left-[276px] gt-lg:left-[330px] md:left-[296px] lt-xs:left-[161px]">
                {{ B12 }}
              </h1>
              <h1 class="absolute top-[90px] gt-lg:left-[335px] left-[335px] md:left-[294px] lt-xs:left-[229px]">
                {{ C2 }}
              </h1> -->
      <!-- <h1 class="absolute top-[203px] left-[523px]">{{ Dt2 }}</h1> -->
      <!-- <h1 class="absolute top-[174px] left-[115px] gt-lg:left-[136px] md:left-[123px] lt-xs:left-[97px]">
                {{ D1t2 }}
              </h1>
              <h1 class="absolute top-[181px] left-[218px] gt-lg:left-[262px] md:left-[233px] lt-xs:left-[258px]">
                {{ Dt2 }}
              </h1> -->

      <!-- <h1 class="absolute top-[125px] left-[179px]">{{ z }}</h1> -->
      <!-- <h1 class="absolute top-[304px] left-[66px] gt-lg:left-[77px] md:left-[69px] lt-xs:left-[55px]">
                {{ open2 }}
              </h1>
              <h1 class="absolute top-[304px] gt-lg:left-[317px] left-[267px] md:left-[281px] lt-xs:left-[224px]">
                {{ shielded2 }}
              </h1> -->

      <!-- <h1 class="absolute top-[300px] left-[433px]">{{ shielded2 }}</h1> -->
      <!-- <h1 class="absolute top-[254px] left-[219px] gt-lg:left-[264px] md:left-[238px] lt-xs:left-[177px]">
                {{ ZZX }}
              </h1> -->
      <!-- </div>
            <div class="relative flex flex-wrap justify-center">
              <img src="../../../../../../assets/images/flangedtype2.png" class="h-[350px] w-[400px]" /> -->
      <!--<h1 class="absolute top-[177px] left-[132px>{{ d }}</h1>-->
      <!--<h1 class="absolute top-[180px] left-[-5px]">{{ D }}</h1>--]"-->
      <!-- <h1 class="absolute top-[187px] left-[256px"> {{ da }} </h1> -->
      <!-- <h1 class="absolute top-[160px] left-[200px]"> {{ da1 }} </h1> -->
      <!--<h1 class="absolute top-[39px] left-[66px]">{{ B }}</h1>-->
      <!-- <h1 class="absolute top-[181px] left-[340px]">{{ Da }}</h1> -->

      <!-- <h1 class="absolute top-[180px] left-[536px]">{{ da2 }}</h1> -->
      <!-- <h1 class="absolute top-[161px] left-[158px] gt-lg:left-[184px] md:left-[167px] lt-sm:left-[133px]">
                {{ dat2 }}
              </h1>
              <h1 class="absolute top-[135px] left-[94px] gt-lg:left-[109px] lt-xs:left-[78px]">{{ rat2 }}</h1> -->

      <!-- <h1 class="absolute top-[74px] left-[481px]">{{ r }}</h1> -->
      <!-- </div>
          </div>
          <app-flangedtype (bearingValue)="receivedValue($event)"></app-flangedtype>
        </mat-tab> -->

      <!-- <mat-tab label="Type - 3">
          <p class="p-1 text-black font-medium text-center mx-auto">
            Single-row deep groove ball bearing snap ring groove type, locating snap ring type
          </p>
          <div class="flex flex-wrap justify-center space-x-0 py-2 sm:space-x-4">
            <div class="relative w-[550px] flex flex-wrap justify-center">
              <img src="../../../../../assets/images/single_row_ball_bearing_snap_ring.png" class="h-[350px] w-full" />
              <h1 class="absolute top-[149px] left-[160px]">{{ d }}</h1>
              <h1 class="absolute top-[151px] left-[-7px]">{{ D }}</h1>
              <h1 class="absolute top-[-5px] left-[95px]">{{ B }}</h1>
              <h1 class="absolute top-[43px] left-[126px]">{{ r }}</h1>
            </div>
            <div class="relative w-[550px] flex flex-wrap justify-center">
              <img
                src="../../../../../assets/images/single_row_ball_bearing_snap_ring_two.png"
                class="h-[350px] w-full"
              /> -->
      <!-- <h1 class="absolute top-[160px] left-[301px]">{{ d }}</h1>
              <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>
              <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1>
              <h1 class="absolute top-[40px] left-[180px]">{{ r }}</h1>-->
      <!-- <h1 class="absolute top-[146px] left-[256px]">{{ ra }}</h1>
              <h1 class="absolute top-[159px] left-[88px]">{{ Da }}</h1>
              <h1 class="absolute top-[182px] left-[369px]">{{ da }}</h1>
            </div>
          </div>
        </mat-tab> -->
      <!-- </mat-tab-group> -->
    </div>

    <div>
      <!-- <app-deep-groove-table (bearingValue)="receivedValue($event)"></app-deep-groove-table> -->
    </div>
  </div>
</div>
