<div class="p-1" style="height: calc(100vh - 78px)">
  <div class="flex flex-col-reverse sm:flex-col">
    <div>
      <!-- <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Type - 1"> -->
      <p class="p-1 text-black font-medium text-center mx-auto">Double direction thrust ball bearings</p>
      <div class="flex justify-center p-2 m-1">
        <div class="relative flex flex-col lt-xs:flex-col space-y-4 justify-center">
          <!-- <img
                src="../../../../../../assets/images/extrasmallopensealed.png"
                class="w-[600px]  h-[350px]"
              /> -->
          <div class="flex flex-row lt-xs:flex-col lt justify-center lt-xs:space-y-4">
            <img
              src="../../../../../../assets/images/thrustdouble1.png"
              class="w-[300px]h-[300px] lt-xs:w-full"
              alt=""
            />
            <div class="flex justify-center lt-xs:space-y-4">
              <img
                src="../../../../../../assets/images/thrustdouble2.png"
                class="w-[300px] h-[300px] lt-xs:w-full"
                alt=""
              />
            </div>
            <div class="flex justify-center lt-xs:space-y-4">
              <img
                src="../../../../../../assets/images/thrustdouble3.png"
                class="w-[300px] h-[300px] lt-xs:w-full"
                alt=""
              />
            </div>
          </div>
          <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4">
            <div class="flex justify-center">
              <img
                src="../../../../../../assets/images/thrustdouble4.png"
                class="h-[300px] w-[300px] lt-xs:w-full"
                alt=""
              />
            </div>
            <div class="flex justify-center">
              <img
                src="../../../../../../assets/images/thrustdouble5.png"
                class="h-[300px] w-[300px] lt-xs:w-full"
                alt=""
              />
            </div>

            <div class="flex justify-center lt-xs:space-y-4">
              <img
                src="../../../../../../assets/images/thrustdouble6.png"
                class="w-[300px] h-[300px] lt-xs:w-full"
                alt=""
              />
            </div>
          </div>
          <h1 class="absolute top-[29px] left-[98px] gt-lg:left-[164px] lt-xs:top-[32px] lt-xs:left-[159px]">
            {{ d2 }}
          </h1>

          <h1 class="absolute top-[183px] left-[97px] gt-lg:left-[160px] lt-xs:top-[187px] lt-xs:left-[156px]">
            {{ D }}
          </h1>
          <h1
            class="absolute top-[86px] left-[152px] gt-lg:left-[214px] md:left-[152px] lt-xs:left-[247px] lt-xs:top-[84px]"
          >
            {{ T1 }}
          </h1>
          <h1
            class="absolute top-[93px] left-[393px] gt-lg:left-[494px] md:left-[415px] lt-xs:left-[243px] lt-xs:top-[447px]"
          >
            {{ T3 }}
          </h1>
          <h1
            class="absolute top-[35px] left-[648px] gt-lg:left-[793px] md:left-[690px] lt-xs:left-[241px] lt-xs:top-[671px]"
          >
            {{ T5 }}
          </h1>
          <h1
            class="absolute top-[135px] left-[613px] gt-lg:left-[753px] md:left-[653px] lt-xs:left-[212px] lt-xs:top-[169px]"
          >
            {{ r }}
          </h1>
          <h1
            class="absolute top-[75px] left-[332px] gt-lg:left-[420px] md:left-[348px] lt-xs:left-[173px] lt-xs:top-[394px]"
          >
            {{ r1 }}
          </h1>
          <h1
            class="absolute top-[6px] left-[339px] gt-lg:left-[429px] md:left-[356px] lt-xs:left-[161px] lt-xs:top-[304px]"
          >
            {{ d3 }}
          </h1>
          <h1
            class="absolute top-[157px] left-[338px] gt-lg:left-[431px] md:left-[354px] lt-xs:top-[474px] lt-xs:left-[182px]"
          >
            {{ D1 }}
          </h1>
          <h1
            class="absolute top-[130px] left-[576px] gt-lg:left-[703px] md:left-[610px] lt-xs:top-[763px] lt-xs:left-[164px]"
          >
            {{ D2 }}
          </h1>
          <h1
            class="absolute top-[162px] left-[575px] gt-lg:left-[704px] md:left-[610px] lt-xs:top-[382px] lt-xs:left-[261px]"
          >
            {{ D3 }}
          </h1>

          <h1
            class="absolute top-[121px] left-[152px] gt-lg:left-[214px] md:letf-[149px] lt-xs:top-[120px] lt-xs:left-[242px]"
          >
            {{ T2 }}
          </h1>
          <h1
            class="absolute top-[136px] left-[190px] gt-lg:left-[257px] md:left-[193px] lt-xs:left-[18px] lt-xs:top-[457px]"
          >
            {{ T4 }}
          </h1>
          <h1
            class="absolute top-[79px] left-[643px] gt-lg:left-[790px] md:left-[686px] lt-xs:top-[712px] lt-xs:left-[235px]"
          >
            {{ T6 }}
          </h1>
          <h1
            class="absolute top-[64px] left-[190px] gt-lg:left-[256px] md:left-[197px] lt-xs:top-[378px] lt-xs:left-[17px]"
          >
            {{ A }}
          </h1>
          <h1
            class="absolute top-[58px] left-[239px] gt-lg:left-[314px] md:left-[245px] lt-xs:top-[373px] lt-xs:left-[71px]"
          >
            {{ R }}
          </h1>
          <h1 class="absolute top-[111px] left-[229px] gt-lg:left-[300px] lt-xs:top-[87px] lt-xs:left-[22px]">
            {{ B }}
          </h1>
          <h1
            class="absolute top-[82px] left-[455px] gt-lg:left-[567px] md:left-[480px] lt-xs:top-[715px] lt-xs:left-[28px]"
          >
            {{ C }}
          </h1>

          <h1
            class="absolute top-[340px] left-[368px] gt-lg:left-[480px] md:left-[391px] lt-xs:left-[172px] lt-xs:top-[965px]"
          >
            {{ da }}
          </h1>
          <h1
            class="absolute top-[541px] left-[345px] gt-lg:left-[457px] md:left-[371px] lt-xs:top-[1188px] lt-xs:left-[172px]"
          >
            {{ Da }}
          </h1>
          <h1
            class="absolute top-[511px] left-[205px] gt-lg:left-[265px] md:left-[218px] lt-xs:top-[1746px] lt-xs:left-[232px]"
          >
            {{ ra }}
          </h1>
          <h1
            class="absolute top-[401px] gt-lg:left-[772px] md:left-[625px] left-[590px] lt-xs:left-[174px] lt-xs:top-[1050px]"
          >
            {{ rb }}
          </h1>
          <!-- <h1 class="absolute top-[330px] left-[125px] lt-xs:top-[519px] lt-xs:left-[165px]">{{ rb }}</h1>
              <h1 class="absolute top-[431px] left-[241px] lt-xs:left-[102px] lt-xs:top-[959px]">{{ db }}</h1>

              <h1 class="absolute top-[448px] left-[-3px] lt-xs:left-[42px] lt-xs:top-[638px]">{{ Db }}</h1> -->
        </div>
      </div>
      <!-- <div class="flex flex-wrap justify-center p-2 m-1">
              <img src="../../../../../../assets/images/extrasmallopen2.png" class="w-[500px] h-[300px]" />

              <h1 class="absolute top-[181px] left-[225px]">{{ d }}</h1>
              <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>
              <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1>-->
      <!-- <h1 class="absolute top-[22px] left-[398px]">{{ r }}</h1> -->

      <!-- <h1
                class="absolute top-[457px] xxl:left-[883px] left-[116px] lt-xs:left-[7px] lt-xs:top-[728px] gt-lg:left-[322px] md:left-[138px]"
              >
                {{ Da }}
              </h1> -->
      <!-- <h1 class="absolute top-[148px] left-[533px] gt-xl:left-[1302px] gt-lg:left-[537px]">
              {{ da }}
            </h1> -->
      <!-- <h1
              class="absolute top-[50px] gt-xl:left-[1062px] lg:left-[294px] gt-lg::left-[500px] md:left-[515px] lt-xs:left-[252px]"
            >
              {{ ra }}
            </h1>
            </div> -->

      <!-- <div class="flex justify-center p-2 m-1">
            <h1 class="absolute top-[520px] left-[135px] gt-lg:left-[339px] md:left-[159px] gt-xl:left-[906px]">
              {{ Da }}
            </h1>
          </div> -->

      <app-thrustdoubledirection (bearingValue)="receivedValue($event)"> </app-thrustdoubledirection>
      <!-- </mat-tab> -->
      <!-- <mat-tab label="Type - 2">
          <p class="p-1 text-black font-medium text-center mx-auto">
            Extra-small ball bearings, miniature ball bearings flanged type
          </p>
          <div class="flex flex-row lt-md:flex-col justify-center gt-xs:space-x-4 lt-sm:space-y-4 p-2 m-1">
            <div class="relative justify-center">
              <img src="../../../../../../assets/images/flangedtype1.png" class="h-[350px] w-[400px]" /> -->
      <!-- <h1
                class="absolute top-[152px] left-[81px] md:left[87px] gt-xl:left-[96px] gt-lg:left-[91px] lt-xs:left[61px] lt-sm:left-[55px]"
              >
                {{ d2 }}
              </h1>
              <h1 class="absolute top-[175px] left-[-1px]">{{ D2 }}</h1>
              <h1
                class="absolute top-[63px] left-[3px] lg:left-[-1px] gt-xl:left-[4px] md:left-[3px] lt-xs:left-[-5px]"
              >
                {{ r2 }}
              </h1>
              <h1 class="absolute top-[129px] left-[170px] lg:left-[147px] gt-lg:left-[282px] lt-xs:left-[134px]">
                {{ r12 }}
              </h1>
              <h1 class="absolute top-[1px] left-[55px] gt-lg:left-[65px] lt-xs:left-[46px]">{{ B2 }}</h1>
              <h1 class="absolute top-[26px] left-[82px] gt-lg:left-[97px] md:left-[89px] lt-xs:left-[72px]">
                {{ c1 }}
              </h1>
              <h1 class="absolute top-[41px] left-[276px] gt-lg:left-[330px] md:left-[296px] lt-xs:left-[161px]">
                {{ B12 }}
              </h1>
              <h1 class="absolute top-[90px] gt-lg:left-[335px] left-[335px] md:left-[294px] lt-xs:left-[229px]">
                {{ C2 }}
              </h1> -->
      <!-- <h1 class="absolute top-[203px] left-[523px]">{{ Dt2 }}</h1> -->
      <!-- <h1 class="absolute top-[174px] left-[115px] gt-lg:left-[136px] md:left-[123px] lt-xs:left-[97px]">
                {{ D1t2 }}
              </h1>
              <h1 class="absolute top-[181px] left-[218px] gt-lg:left-[262px] md:left-[233px] lt-xs:left-[258px]">
                {{ Dt2 }}
              </h1> -->

      <!-- <h1 class="absolute top-[125px] left-[179px]">{{ z }}</h1> -->
      <!-- <h1 class="absolute top-[304px] left-[66px] gt-lg:left-[77px] md:left-[69px] lt-xs:left-[55px]">
                {{ open2 }}
              </h1>
              <h1 class="absolute top-[304px] gt-lg:left-[317px] left-[267px] md:left-[281px] lt-xs:left-[224px]">
                {{ shielded2 }}
              </h1> -->

      <!-- <h1 class="absolute top-[300px] left-[433px]">{{ shielded2 }}</h1> -->
      <!-- <h1 class="absolute top-[254px] left-[219px] gt-lg:left-[264px] md:left-[238px] lt-xs:left-[177px]">
                {{ ZZX }}
              </h1> -->
      <!-- </div>
            <div class="relative flex flex-wrap justify-center">
              <img src="../../../../../../assets/images/flangedtype2.png" class="h-[350px] w-[400px]" /> -->
      <!--<h1 class="absolute top-[177px] left-[132px>{{ d }}</h1>-->
      <!--<h1 class="absolute top-[180px] left-[-5px]">{{ D }}</h1>--]"-->
      <!-- <h1 class="absolute top-[187px] left-[256px"> {{ da }} </h1> -->
      <!-- <h1 class="absolute top-[160px] left-[200px]"> {{ da1 }} </h1> -->
      <!--<h1 class="absolute top-[39px] left-[66px]">{{ B }}</h1>-->
      <!-- <h1 class="absolute top-[181px] left-[340px]">{{ Da }}</h1> -->

      <!-- <h1 class="absolute top-[180px] left-[536px]">{{ da2 }}</h1> -->
      <!-- <h1 class="absolute top-[161px] left-[158px] gt-lg:left-[184px] md:left-[167px] lt-sm:left-[133px]">
                {{ dat2 }}
              </h1>
              <h1 class="absolute top-[135px] left-[94px] gt-lg:left-[109px] lt-xs:left-[78px]">{{ rat2 }}</h1> -->

      <!-- <h1 class="absolute top-[74px] left-[481px]">{{ r }}</h1> -->
      <!-- </div>
          </div>
          <app-flangedtype (bearingValue)="receivedValue($event)"></app-flangedtype>
        </mat-tab> -->

      <!-- <mat-tab label="Type - 3">
          <p class="p-1 text-black font-medium text-center mx-auto">
            Single-row deep groove ball bearing snap ring groove type, locating snap ring type
          </p>
          <div class="flex flex-wrap justify-center space-x-0 py-2 sm:space-x-4">
            <div class="relative w-[550px] flex flex-wrap justify-center">
              <img src="../../../../../assets/images/single_row_ball_bearing_snap_ring.png" class="h-[350px] w-full" />
              <h1 class="absolute top-[149px] left-[160px]">{{ d }}</h1>
              <h1 class="absolute top-[151px] left-[-7px]">{{ D }}</h1>
              <h1 class="absolute top-[-5px] left-[95px]">{{ B }}</h1>
              <h1 class="absolute top-[43px] left-[126px]">{{ r }}</h1>
            </div>
            <div class="relative w-[550px] flex flex-wrap justify-center">
              <img
                src="../../../../../assets/images/single_row_ball_bearing_snap_ring_two.png"
                class="h-[350px] w-full"
              /> -->
      <!-- <h1 class="absolute top-[160px] left-[301px]">{{ d }}</h1>
              <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>
              <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1>
              <h1 class="absolute top-[40px] left-[180px]">{{ r }}</h1>-->
      <!-- <h1 class="absolute top-[146px] left-[256px]">{{ ra }}</h1>
              <h1 class="absolute top-[159px] left-[88px]">{{ Da }}</h1>
              <h1 class="absolute top-[182px] left-[369px]">{{ da }}</h1>
            </div>
          </div>
        </mat-tab> -->
      <!-- </mat-tab-group> -->
    </div>

    <div>
      <!-- <app-deep-groove-table (bearingValue)="receivedValue($event)"></app-deep-groove-table> -->
    </div>
  </div>
</div>
