<div class="p-" style="height: calc(100vh - 78px)">
  <div class="flex flex-col-reverse sm:flex-col">
    <div>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Type - 1">
          <p class="p-1 text-black font-medium text-center mx-auto">
            Needle roller thrust bearings, assemblies, washers thrust needle roller and cage assemblies, thrust washers
            metric series AXK, FNT series
          </p>
          <div class="flex justify-center p-2 m-1">
            <div class="relative flex flex-col lt-xs:flex-col space-y-4 justify-center">
              <!-- <img
                src="../../../../../../assets/images/extrasmallopensealed.png"
                class="w-[600px]  h-[350px]"
              /> -->
              <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4">
                <img src="../../../../../../assets/images/thrustneedle1.png" class="w-[200px] lt-xs:w-full" alt="" />
                <div class="flex justify-center lt-xs:space-y-4">
                  <img src="../../../../../../assets/images/thrustneedle2.png" class="w-[200px] lt-xs:w-full" alt="" />
                </div>
              </div>

              <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4">
                <img src="../../../../../../assets/images/thrustneedle3.png" class="h-[300px] lt-xs:w-full" alt="" />
                <div class="flex justify-center lt-xs:space-y-4">
                  <img src="../../../../../../assets/images/thrustneedle4.png" class="h-[300px] lt-xs:w-full" alt="" />
                </div>
              </div>
              <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4">
                <div class="flex justify-center">
                  <img src="../../../../../../assets/images/thrustneedle5.png" class="h-[300px] lt-xs:w-full" alt="" />
                </div>
                <div class="flex justify-center">
                  <img src="../../../../../../assets/images/thrustneedle6.png" class="h-[300px] lt-xs:w-full" alt="" />
                </div>
                <!-- <div class="flex justify-center">
                  <img src="../../../../../../assets/images/cylidrical5.png" class="h-[300px] w-[200px]" alt="" />
                </div> -->
              </div>
              <h1 class="absolute top-[580px] left-[120px] gt-lg:left-[118px] lt-xs:top-[1092px] lt-xs:left-[95px]">
                {{ d }}
              </h1>

              <h1 class="absolute top-[-12px] left-[230px] lt-xs:top-[-5px] lt-xs:left-[126px]">{{ Dc1 }}</h1>
              <h1 class="absolute top-[66px] left-[208px] lt-xs:left-[123px] lt-xs:top-[69px]">{{ Dc }}</h1>
              <h1 class="absolute top-[39px] left-[325px] lt-xs:left-[259px] lt-xs:top-[22px]">{{ Dw }}</h1>
              <h1 class="absolute top-[245px] left-[197px] lt-xs:left-[97px] lt-xs:top-[452px]">{{ Ea }}</h1>
              <h1 class="absolute top-[246px] left-[313px] lt-xs:left-[260px] lt-xs:top-[455px]">{{ Eb }}</h1>
              <h1 class="absolute top-[56px] left-[513px] lt-xs:left-[245px] lt-xs:top-[255px]">{{ ra }}</h1>
              <h1 class="absolute top-[582px] left-[655px] lt-xs:left-[262px] lt-xs:top-[1430px]">{{ D }}</h1>
              <h1 class="absolute top-[581px] left-[534px] lt-xs:top-[1428px] lt-xs:left-[162px]">{{ D1 }}</h1>
              <h1 class="absolute top-[583px] left-[215px] lt-xs:top-[1110px] lt-xs:left-[184px]">{{ D }}</h1>
              <h1 class="absolute top-[453px] left-[68px] lt-xs:top-[980px] lt-xs:left-[58px]">{{ h1 }}</h1>

              <h1 class="absolute top-[464px] left-[432px] lt-xs:top-[970px] lt-xs:left-[225px]">{{ h }}</h1>
              <h1 class="absolute top-[475px] left-[296px] lt-xs:left-[253px] lt-xs:top-[1005px]">{{ a }}</h1>
              <!--<h1 class="absolute top-[430px] left-[415px] lt-xs:top-[936px] lt-xs:left-[58px]">{{ Da }}</h1>
              <h1 class="absolute top-[433px] left-[379px] lt-xs:left-[230px] lt-xs:top-[938px]">{{ dc }}</h1>
              <h1 class="absolute top-[428px] left-[579px] lt-xs:top-[1276px] lt-xs:left-[240px]">{{ dd }}</h1>
              <h1 class="absolute top-[334px] left-[334px] lt-xs:left-[174px] lt-xs:top-[841px]">{{ ra }}</h1>
              <h1 class="absolute top-[330px] left-[125px] lt-xs:top-[519px] lt-xs:left-[165px]">{{ rb }}</h1>
              <h1 class="absolute top-[431px] left-[241px] lt-xs:left-[102px] lt-xs:top-[959px]">{{ db }}</h1>

              <h1 class="absolute top-[448px] left-[-3px] lt-xs:left-[42px] lt-xs:top-[638px]">{{ Db }}</h1> -->
            </div>
          </div>
          <!-- <div class="flex flex-wrap justify-center p-2 m-1">
              <img src="../../../../../../assets/images/extrasmallopen2.png" class="w-[500px] h-[300px]" />

              <h1 class="absolute top-[181px] left-[225px]">{{ d }}</h1>
              <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>
              <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1>-->
          <!-- <h1 class="absolute top-[22px] left-[398px]">{{ r }}</h1> -->

          <!-- <h1
                class="absolute top-[457px] xxl:left-[883px] left-[116px] lt-xs:left-[7px] lt-xs:top-[728px] gt-lg:left-[322px] md:left-[138px]"
              >
                {{ Da }}
              </h1> -->
          <!-- <h1 class="absolute top-[148px] left-[533px] gt-xl:left-[1302px] gt-lg:left-[537px]">
              {{ da }}
            </h1> -->
          <!-- <h1
              class="absolute top-[50px] gt-xl:left-[1062px] lg:left-[294px] gt-lg::left-[500px] md:left-[515px] lt-xs:left-[252px]"
            >
              {{ ra }}
            </h1>
            </div> -->

          <!-- <div class="flex justify-center p-2 m-1">
            <h1 class="absolute top-[520px] left-[135px] gt-lg:left-[339px] md:left-[159px] gt-xl:left-[906px]">
              {{ Da }}
            </h1>
          </div> -->

          <app-Needlerollerthrustmetricseries
            (bearingValue)="receivedValue($event)"
          ></app-Needlerollerthrustmetricseries>
        </mat-tab>

        <mat-tab label="Type - 2">
          <p class="p-1 text-black font-medium text-center mx-auto">
            Needle roller thrust bearings, assemblies, washers thrust cylindrical roller and cage assemblies, thrust
            washers metric series
          </p>
          <div class="flex justify-center p-2 m-1">
            <div class="relative flex flex-col lt-xs:flex-col space-y-4 justify-center">
              <!-- <img
                src="../../../../../../assets/images/extrasmallopensealed.png"
                class="w-[600px]  h-[350px]"
              /> -->
              <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4">
                <img src="../../../../../../assets/images/thrustmetric1.png" class="w-[200px] lt-xs:w-[300px]" alt="" />
                <div class="flex justify-center lt-xs:space-y-4">
                  <img
                    src="../../../../../../assets/images/thrustmetric2.png"
                    class="w-[200px] lt-xs:w-[300px]"
                    alt=""
                  />
                </div>
                <div class="flex justify-center lt-xs:space-y-4">
                  <img
                    src="../../../../../../assets/images/thrustmetric3.png"
                    class="w-[200px] lt-xs:w-[300px]"
                    alt=""
                  />
                </div>
              </div>

              <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4">
                <div class="flex justify-center">
                  <img
                    src="../../../../../../assets/images/thrustmetric4.png"
                    class="h-[200px] w-[200px] lt-xs:w-[300px]"
                    alt=""
                  />
                </div>
                <div class="flex justify-center">
                  <img
                    src="../../../../../../assets/images/thrustmetric5.png"
                    class="h-[200px] w-[200px] lt-xs:w-[300px]"
                    alt=""
                  />
                </div>
                <!-- <div class="flex justify-center">
                  <img src="../../../../../../assets/images/cylidrical5.png" class="h-[300px] w-[200px]" alt="" />
                </div> -->
              </div>
              <h1 class="absolute top-[-16px] left-[281px] gt-lg:left-[282px] lt-xs:top-[295px] lt-xs:left-[139px]">
                {{ Dc1t2 }}
              </h1>

              <h1 class="absolute top-[80px] left-[277px] lt-xs:top-[397px] lt-xs:left-[116px]">{{ Dct2 }}</h1>
              <h1 class="absolute top-[55px] left-[380px] lt-xs:left-[259px] lt-xs:top-[327px]">{{ Dwt2 }}</h1>
              <h1 class="absolute top-[58px] left-[199px] lt-xs:left-[254px] lt-xs:top-[102px]">{{ T }}</h1>
              <h1 class="absolute top-[152px] left-[500px] lt-xs:left-[167px] lt-xs:top-[746px]">{{ Ebt2 }}</h1>
              <h1 class="absolute top-[-8px] left-[518px] lt-xs:left-[171px] lt-xs:top-[539px]">{{ Eat2 }}</h1>
              <h1 class="absolute top-[56px] left-[470px] lt-xs:left-[79px] lt-xs:top-[607px]">{{ rat2 }}</h1>
              <h1 class="absolute top-[193px] left-[183px] lt-xs:left-[127px] lt-xs:top-[821px]">{{ dt2 }}</h1>
              <h1 class="absolute top-[186px] left-[390px] lt-xs:top-[1042px] lt-xs:left-[155px]">{{ D1t2 }}</h1>
              <h1 class="absolute top-[269px] left-[408px] lt-xs:top-[1107px] lt-xs:left-[153px]">{{ Dt2 }}</h1>
              <h1 class="absolute top-[275px] left-[197px] lt-xs:top-[897px] lt-xs:left-[141px]">{{ Dt2 }}</h1>

              <h1 class="absolute top-[250px] left-[492px] lt-xs:top-[860px] lt-xs:left-[249px]">{{ ht2 }}</h1>
              <h1 class="absolute top-[270px] left-[311px] lt-xs:left-[64px] lt-xs:top-[1106px]">{{ rt2 }}</h1>
              <!--<h1 class="absolute top-[430px] left-[415px] lt-xs:top-[936px] lt-xs:left-[58px]">{{ Da }}</h1>
              <h1 class="absolute top-[433px] left-[379px] lt-xs:left-[230px] lt-xs:top-[938px]">{{ dc }}</h1>
              <h1 class="absolute top-[428px] left-[579px] lt-xs:top-[1276px] lt-xs:left-[240px]">{{ dd }}</h1>
              <h1 class="absolute top-[334px] left-[334px] lt-xs:left-[174px] lt-xs:top-[841px]">{{ ra }}</h1>
              <h1 class="absolute top-[330px] left-[125px] lt-xs:top-[519px] lt-xs:left-[165px]">{{ rb }}</h1>
              <h1 class="absolute top-[431px] left-[241px] lt-xs:left-[102px] lt-xs:top-[959px]">{{ db }}</h1>

              <h1 class="absolute top-[448px] left-[-3px] lt-xs:left-[42px] lt-xs:top-[638px]">{{ Db }}</h1> -->
            </div>
          </div>
          <!-- <div class="flex flex-wrap justify-center p-2 m-1">
              <img src="../../../../../../assets/images/extrasmallopen2.png" class="w-[500px] h-[300px]" />

              <h1 class="absolute top-[181px] left-[225px]">{{ d }}</h1>
              <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>
              <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1>-->
          <!-- <h1 class="absolute top-[22px] left-[398px]">{{ r }}</h1> -->

          <!-- <h1
                class="absolute top-[457px] xxl:left-[883px] left-[116px] lt-xs:left-[7px] lt-xs:top-[728px] gt-lg:left-[322px] md:left-[138px]"
              >
                {{ Da }}
              </h1> -->
          <!-- <h1 class="absolute top-[148px] left-[533px] gt-xl:left-[1302px] gt-lg:left-[537px]">
              {{ da }}
            </h1> -->
          <!-- <h1
              class="absolute top-[50px] gt-xl:left-[1062px] lg:left-[294px] gt-lg::left-[500px] md:left-[515px] lt-xs:left-[252px]"
            >
              {{ ra }}
            </h1>
            </div> -->

          <!-- <div class="flex justify-center p-2 m-1">
            <h1 class="absolute top-[520px] left-[135px] gt-lg:left-[339px] md:left-[159px] gt-xl:left-[906px]">
              {{ Da }}
            </h1>
          </div> -->

          <app-thrusttable (bearingValue)="receivedValue($event)"></app-thrusttable>
        </mat-tab>

        <mat-tab label="Type - 3">
          <p class="p-1 text-black font-medium text-center mx-auto">
            Needle roller thrust bearings, assemblies, washers thrust needle roller and cage assemblies, thrust washers
            metric series AXK, FNT series
          </p>
          <div class="flex justify-center p-2 m-1">
            <div class="relative flex flex-col lt-xs:flex-col space-y-4 justify-center">
              <!-- <img
                src="../../../../../../assets/images/extrasmallopensealed.png"
                class="w-[600px]  h-[350px]"
              /> -->
              <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4">
                <img
                  src="../../../../../../assets/images/thrustinch6.png"
                  class="w-[200px] h-[250px] lt-xs:w-[300px]"
                  alt=""
                />
                <div class="flex justify-center lt-xs:space-y-4">
                  <img
                    src="../../../../../../assets/images/thrustinch2.png"
                    class="w-[200px] h-[250px] lt-xs:w-[300px]"
                    alt=""
                  />
                </div>
                <div class="flex justify-center lt-xs:space-y-4">
                  <img
                    src="../../../../../../assets/images/thrustinch3.png"
                    class="w-[200px] h-[250px] lt-xs:w-[300px]"
                    alt=""
                  />
                </div>
              </div>

              <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4">
                <div class="flex justify-center">
                  <img
                    src="../../../../../../assets/images/thrustinch4.png"
                    class="h-[200px] w-[200px] lt-xs:w-[300px]"
                    alt=""
                  />
                </div>
                <div class="flex justify-center">
                  <img
                    src="../../../../../../assets/images/thrustinch5.png"
                    class="h-[200px] w-[200px] lt-xs:w-[300px]"
                    alt=""
                  />
                </div>
                <!-- <div class="flex justify-center">
                  <img src="../../../../../../assets/images/cylidrical5.png" class="h-[300px] w-[200px]" alt="" />
                </div> -->
              </div>
              <h1 class="absolute top-[62px] left-[23px] gt-lg:left-[29px] lt-xs:top-[63px] lt-xs:left-[50px]">
                {{ Dct3 }}
              </h1>

              <h1 class="absolute top-[64px] left-[153px] lt-xs:top-[56px] lt-xs:left-[225px]">{{ Dc1t3 }}</h1>
              <h1 class="absolute top-[182px] left-[143px] lt-xs:left-[224px] lt-xs:top-[182px]">{{ Dwt3 }}</h1>
              <h1 class="absolute top-[58px] left-[583px] lt-xs:left-[263px] lt-xs:top-[594px]">{{ Ebt3 }}</h1>
              <h1 class="absolute top-[97px] left-[404px] lt-xs:left-[16px] lt-xs:top-[633px]">{{ Eat3 }}</h1>
              <h1 class="absolute top-[372px] left-[273px] lt-xs:left-[27px] lt-xs:top-[874px]">{{ dt3 }}</h1>
              <h1 class="absolute top-[341px] left-[179px] lt-xs:left-[132px] lt-xs:top-[876px]">{{ d1t3 }}</h1>
              <h1 class="absolute top-[257px] left-[169px] lt-xs:left-[212px] lt-xs:top-[789px]">{{ ht3 }}</h1>
              <h1 class="absolute top-[333px] left-[420px] lt-xs:top-[1080px] lt-xs:left-[187px]">{{ St3 }}</h1>
              <h1 class="absolute top-[331px] left-[486px] lt-xs:top-[1097px] lt-xs:left-[240px]">{{ Ht3 }}</h1>
              <!--<h1 class="absolute top-[275px] left-[197px] lt-xs:top-[897px] lt-xs:left-[141px]">{{ Dt2 }}</h1>

              <h1 class="absolute top-[250px] left-[492px] lt-xs:top-[860px] lt-xs:left-[249px]">{{ ht2 }}</h1>
              <h1 class="absolute top-[270px] left-[311px] lt-xs:left-[64px] lt-xs:top-[1106px]">{{ rt2 }}</h1> -->
              <!--<h1 class="absolute top-[430px] left-[415px] lt-xs:top-[936px] lt-xs:left-[58px]">{{ Da }}</h1>
              <h1 class="absolute top-[433px] left-[379px] lt-xs:left-[230px] lt-xs:top-[938px]">{{ dc }}</h1>
              <h1 class="absolute top-[428px] left-[579px] lt-xs:top-[1276px] lt-xs:left-[240px]">{{ dd }}</h1>
              <h1 class="absolute top-[334px] left-[334px] lt-xs:left-[174px] lt-xs:top-[841px]">{{ ra }}</h1>
              <h1 class="absolute top-[330px] left-[125px] lt-xs:top-[519px] lt-xs:left-[165px]">{{ rb }}</h1>
              <h1 class="absolute top-[431px] left-[241px] lt-xs:left-[102px] lt-xs:top-[959px]">{{ db }}</h1>

              <h1 class="absolute top-[448px] left-[-3px] lt-xs:left-[42px] lt-xs:top-[638px]">{{ Db }}</h1> -->
            </div>
          </div>
          <!-- <div class="flex flex-wrap justify-center p-2 m-1">
              <img src="../../../../../../assets/images/extrasmallopen2.png" class="w-[500px] h-[300px]" />

              <h1 class="absolute top-[181px] left-[225px]">{{ d }}</h1>
              <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>
              <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1>-->
          <!-- <h1 class="absolute top-[22px] left-[398px]">{{ r }}</h1> -->

          <!-- <h1
                class="absolute top-[457px] xxl:left-[883px] left-[116px] lt-xs:left-[7px] lt-xs:top-[728px] gt-lg:left-[322px] md:left-[138px]"
              >
                {{ Da }}
              </h1> -->
          <!-- <h1 class="absolute top-[148px] left-[533px] gt-xl:left-[1302px] gt-lg:left-[537px]">
              {{ da }}
            </h1> -->
          <!-- <h1
              class="absolute top-[50px] gt-xl:left-[1062px] lg:left-[294px] gt-lg::left-[500px] md:left-[515px] lt-xs:left-[252px]"
            >
              {{ ra }}
            </h1>
            </div> -->

          <!-- <div class="flex justify-center p-2 m-1">
            <h1 class="absolute top-[520px] left-[135px] gt-lg:left-[339px] md:left-[159px] gt-xl:left-[906px]">
              {{ Da }}
            </h1>
          </div> -->

          <app-Needlerollerthrustinchseries (bearingValue)="receivedValue($event)"></app-Needlerollerthrustinchseries>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div></div>
  </div>
</div>
