<div class="p-1" style="height: calc(100vh - 78px)">
  <div class="flex flex-col-reverse sm:flex-col">
    <div>
      <!-- <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Type - 1"> -->
      <p class="p-1 text-black font-medium text-center mx-auto">Single-row angular contact ball bearings</p>

      <div class="flex flex-row lt-xs:flex-col justify-center gt-xs:space-x-4 p-2 m-1 lt-xs:space-y-4">
        <div class="relative flex flex-row lt-xs:flex-col justify-center">
          <!-- <img src="../../../../../../assets/images/Angularcontactsinglerow.png " class="w-[300px] h-[350px]" /> -->
          <!-- <img src="../../../../../../assets/images/contactball3.png" class="w-[300px] h-[350px] " /> -->
          <img src="../../../../../../assets/images/Angularcontactsinglerow.png " class="h-[350px] w-[300px]" />
          <h1 class="absolute top-[104px] left-[83px] lt-xs:left-[78px]">{{ r }}</h1>
          <h1 class="absolute top-[149px] left-[-11px]">{{ D }}</h1>
          <h1 class="absolute top-[6px] left-[63px]">{{ B }}</h1>
          <h1 class="absolute top-[148px] left-[119px] lt-xs:left-[112px]">{{ d }}</h1>
          <h1 class="absolute top-[41px] left-[88px] lt-xs:left-[82px]">{{ r1 }}</h1>
        </div>
        <div class="relative flex flex-wrap justify-center">
          <img src="../../../../../../assets/images/contactball3.png" class="h-[350px] w-[300px]" />

          <!-- <h1 class="absolute top-[-200px] left-[-623px]">{{ D }}</h1> -->

          <h1 class="absolute top-[172px] left-[300px] lt-xs:left-[214px]">{{ da }}</h1>

          <h1 class="absolute top-[3px] left-[121px]">{{ ra }}</h1>

          <h1 class="absolute top-[168px] left-[56px] lt-xs:left-[50px]">{{ Da }}</h1>
          <!-- <h1 class="absolute top-[172px] left-[0px]">{{ da }}</h1> -->

          <!--<h1 class="absolute top-[177px] left-[132px]">{{ d }}</h1>-->
          <!--<h1 class="absolute top-[180px] left-[-5px]">{{ D }}</h1>-->

          <!--<h1 class="absolute top-[39px] left-[66px]">{{ B }}</h1>-->
          <!-- <h1 class="absolute top-[181px] left-[340px]">{{ Da }}</h1>

              <h1 class="absolute top-[74px] left-[481px]">{{ r }}</h1>
            </div>
          </div>



      <div class="flex flex-wrap w-[500px] justify-center">
        <div class="relative w-[350px] flex flex-wrap  ">
        <img src="../../../../../../assets/images/Angularcontactsinglerow.png " class="w-[300px] h-[350px]" />
        <img src="../../../../../../assets/images/contactball3.png" class="w-[300px] h-[350px] " />
        <h1 class="absolute top-[84px] left-[448px]">{{ r }}</h1>
        <h1 class="absolute top-[202px] left-[431px]">{{ D }}</h1>
        <h1 class="absolute top-[55px] left-[509px]">{{ B }}</h1>
        <h1 class="absolute top-[202px] left-[564px]">{{ d }}</h1>
        <h1 class="absolute top-[282px] left-[620px]">{{ r1 }}</h1>
        -->

          <!-- <h1 class="absolute top-[-253px] left-[105px]">{{ r }}</h1> -->
          <!-- </div>

        <div class="relative w-[350px] flex flex-wrap justify-center"> -->

          <!-- -->
          <!-- <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>lg:space-x-52   sm:space-x-28
              -->
          <!-- <h1 class="absolute top-[-346px] left-[-572px]">{{ B }}</h1>

              <h1 class="absolute top-[-200px] left-[-623px]">{{ D }}</h1>



          <h1 class="absolute top-[-180px] left-[190px]">{{ da }}</h1> -->

          <!--
          <h1 class="absolute top-[114px] left-[-115px]">{{ ra }}</h1>


          <h1 class="absolute top-[168px] left-[-327px]">{{ Da }}</h1>
          <h1 class="absolute top-[172px] left-[0px]">{{ da }}</h1>

        </div>


      </div> -->
          <!-- </mat-tab> -->

          <!-- </mat-tab> -->
          <!-- </mat-tab> -->
          <!-- <mat-tab label="Type - 2">
        <p class="p-1 text-black font-medium text-center mx-auto">
          Single-row deep groove ball bearing shielded type, sealed type
        </p> -->
          <!-- <div class="flex flex-wrap justify-center space-x-0 py-2 sm:space-x-4">
          <div class="relative w-[550px] flex flex-wrap justify-center">
            <img src="../../../../../assets/images/single_row_ball_bearing_shieledtype.png" class="h-[350px] w-full" />
            <h1 class="absolute top-[177px] left-[132px]">{{ d }}</h1>
            <h1 class="absolute top-[180px] left-[-5px]">{{ D }}</h1>

            <h1 class="absolute top-[39px] left-[66px]">{{ B }}</h1>
            <h1 class="absolute top-[82px] left-[106px]">{{ r }}</h1>
            <h1 class="absolute top-[125px] left-[179px]">{{ z }}</h1>
          </div>
          <div class="relative w-[550px] flex flex-wrap justify-center">
            <img src="../../../../../assets/images/single_row_ball_bearing_sealedtype.png" class="h-[350px] w-full" /> -->
          <!--<h1 class="absolute top-[177px] left-[132px]">{{ d }}</h1>-->
          <!--<h1 class="absolute top-[180px] left-[-5px]">{{ D }}</h1>-->

          <!--<h1 class="absolute top-[39px] left-[66px]">{{ B }}</h1>-->
          <!-- <h1 class="absolute top-[181px] left-[340px]">{{ Da }}</h1>

            <h1 class="absolute top-[74px] left-[481px]">{{ r }}</h1>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Type - 3">
        <p class="p-1 text-black font-medium text-center mx-auto">Single-row angular contact ball bearings</p>
        <div class="flex flex-wrap justify-center space-x-0 py-2 sm:space-x-4">
          <div class="relative w-[550px] flex flex-wrap justify-center">
            <img src="../../../../../assets/images/single_row_ball_bearing_snap_ring.png" class="h-[350px] w-full" />
            <h1 class="absolute top-[149px] left-[160px]">{{ d }}</h1>
            <h1 class="absolute top-[151px] left-[-7px]">{{ D }}</h1>
            <h1 class="absolute top-[-5px] left-[95px]">{{ B }}</h1>
            <h1 class="absolute top-[43px] left-[126px]">{{ r }}</h1>
          </div>
          <div class="relative w-[550px] flex flex-wrap justify-center">
            <img
              src="../../../../../assets/images/single_row_ball_bearing_snap_ring_two.png"
              class="h-[350px] w-full"
            /> -->
          <!-- <h1 class="absolute top-[160px] left-[301px]">{{ d }}</h1>
              <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>
              <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1>
              <h1 class="absolute top-[40px] left-[180px]">{{ r }}</h1>-->
          <!-- <h1 class="absolute top-[146px] left-[256px]">{{ ra }}</h1>
            <h1 class="absolute top-[159px] left-[88px]">{{ Da }}</h1>
            <h1 class="absolute top-[182px] left-[369px]">{{ da }}</h1>
          </div>
        </div>

      </mat-tab> -->
          <!-- </mat-tab-group> -->
        </div>

        <div>
          <!-- <app-deep-groove-table (bearingValue)="receivedValue($event)"></app-deep-groove-table> -->
        </div>
      </div>
      <app-single-row (bearingValue)="receivedValue($event)"></app-single-row>
    </div>
  </div>
</div>
