<div class="p-" style="height: calc(100vh - 78px)">
  <div class="flex flex-col sm:flex-col">
    <div>
      <!-- <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Type - 1"> -->
      <!-- <p class="p-1 text-black font-medium text-center mx-auto">Single row deep groove ball bearing open type</p>
      <div class="flex flex-wrap  justify-end space-x-28  space-x-0 py-2">
        <img src="../../../../../../assets/images/Angularcontactsinglerow.png " class="w-[300px] h-[350px]" />
        <img src="../../../../../../assets/images/contactball3.png" class="w-[300px] h-[350px] " />

        <div class="relative w-[350px] flex flex-wrap justify-center">
          <h1 class="absolute top-[149px] left-[-705px]">{{ d }}</h1>
          <h1 class="absolute top-[148px] left-[-835px]">{{ D }}</h1>
          <h1 class="absolute top-[4px] left-[-760px]">{{ B }}</h1> -->
      <!-- <h1 class="absolute top-[-253px] left-[105px]">{{ r }}</h1> -->
      <!-- </div>
        <div class="relative w-[350px] flex flex-wrap justify-center">
          <h1 class="absolute top-[-347px] left-[-340px]">{{ ra }}</h1> -->
      <!-- <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>
              <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1> -->
      <!-- <h1 class="absolute top-[-252px] left-[-818px]">{{ r }}</h1>
          <h1 class="absolute top-[-311px] left-[-738px]">{{ r1 }}</h1>
          <h1 class="absolute top-[-181px] left-[-434px]">{{ Da }}</h1>
          <h1 class="absolute top-[-178px] left-[-116px]">{{ da }}</h1>
        </div>


       </mat-tab> -->

      <p class="p-1 text-black font-medium text-center mx-auto">Adapter assemblies for spherical roller bearings</p>
      <div class="flex flex-row lt-xs:flex-col gt-xs:space-x-4 lt-xs:space-y-4 justify-center p-2 m-1">
        <div class="relative flex flex-row lt-xs:flex-col justify-center">
          <img src="../../../../../../assets/images/adapterassembliesspherical1.png" class="h-[350px] w-full" />
          <h1 class="absolute top-[188px] gt-lg:left-[188px] left-[133px] md:left-[142px] lt-xs:left-[102px]">
            {{ d1 }}
          </h1>

          <h1 class="absolute top-[161px] gt-lg:left-[102px] left-[77px] lt-xs:left-[57px]">{{ B1 }}</h1>
          <h1 class="absolute top-[82px] gt-lg:left-[106px] left-[106px]">{{ r }}</h1>
          <h1 class="absolute top-[125px] gt-lg:left-[179px] left-[179px]">{{ z }}</h1>
          <h1 class="absolute top-[190px] gt-lg:left-[235px] left-[166px] md:left-[178px] lt-xs:left-[271px]">
            {{ d2 }}
          </h1>
          <h1 class="absolute top-[18px] gt-lg:left-[149px] left-[107px] md:left-[114px] lt-xs:left-[78px]">
            {{ B2 }}
          </h1>
          <h1 class="absolute top-[18px] gt-lg:left-[403px] left-[319px] md:left-[343px] lt-xs:left-[242px]">
            {{ B3 }}
          </h1>
        </div>
        <div class="relative flex justify-center">
          <img src="../../../../../../assets/images/adapterassembliesspherical2.png" class="h-[350px] w-full" />
          <!--<h1 class="absolute top-[177px] left-[132px]">{{ d }}</h1>-->
          <!--<h1 class="absolute top-[180px] left-[-5px]">{{ D }}</h1>-->

          <!--<h1 class="absolute top-[39px] left-[66px]">{{ B }}</h1>-->
          <!-- <h1 class="absolute top-[181px] left-[340px]">{{ Da }}</h1> -->
          <h1 class="absolute top-[15px] left-[180px] gt-lg:left-[248px] md:left-[190px]">{{ A }}</h1>
          <h1 class="absolute top-[177px] left-[12px] gt-lg:left-[22px] md:left-[14px]">{{ de }}</h1>
          <h1 class="absolute top-[156px] left-[242px] gt-lg:left-[338px] md:left-[262px] lt-xs:left-[245px]">
            {{ K }}
          </h1>
          <h1 class="absolute top-[179px] left-[108px] gt-lg:left-[148px] md:left-[115px] lt-xs:left-[108px]">
            {{ b }}
          </h1>

          <!-- <h1 class="absolute top-[74px] left-[481px]">{{ r }}</h1> -->
        </div>
      </div>
      <!-- </mat-tab> -->
    </div>
    <app-adapterassembliessphericaltable (bearingValue)="receivedValue($event)"></app-adapterassembliessphericaltable>
  </div>
  <!-- <mat-tab label="Type - 2">
        <p class="p-1 text-black font-medium text-center mx-auto">
          Single-row deep groove ball bearing shielded type, sealed type
        </p> -->
  <!-- <div class="flex flex-wrap justify-center space-x-0 py-2 sm:space-x-4">
          <div class="relative w-[550px] flex flex-wrap justify-center">
            <img src="../../../../../assets/images/single_row_ball_bearing_shieledtype.png" class="h-[350px] w-full" />
            <h1 class="absolute top-[177px] left-[132px]">{{ d }}</h1>
            <h1 class="absolute top-[180px] left-[-5px]">{{ D }}</h1>

            <h1 class="absolute top-[39px] left-[66px]">{{ B }}</h1>
            <h1 class="absolute top-[82px] left-[106px]">{{ r }}</h1>
            <h1 class="absolute top-[125px] left-[179px]">{{ z }}</h1>
          </div>
          <div class="relative w-[550px] flex flex-wrap justify-center">
            <img src="../../../../../assets/images/single_row_ball_bearing_sealedtype.png" class="h-[350px] w-full" /> -->
  <!--<h1 class="absolute top-[177px] left-[132px]">{{ d }}</h1>-->
  <!--<h1 class="absolute top-[180px] left-[-5px]">{{ D }}</h1>-->

  <!--<h1 class="absolute top-[39px] left-[66px]">{{ B }}</h1>-->
  <!-- <h1 class="absolute top-[181px] left-[340px]">{{ Da }}</h1>

            <h1 class="absolute top-[74px] left-[481px]">{{ r }}</h1>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Type - 3">
        <p class="p-1 text-black font-medium text-center mx-auto">Single-row angular contact ball bearings</p>
        <div class="flex flex-wrap justify-center space-x-0 py-2 sm:space-x-4">
          <div class="relative w-[550px] flex flex-wrap justify-center">
            <img src="../../../../../assets/images/single_row_ball_bearing_snap_ring.png" class="h-[350px] w-full" />
            <h1 class="absolute top-[149px] left-[160px]">{{ d }}</h1>
            <h1 class="absolute top-[151px] left-[-7px]">{{ D }}</h1>
            <h1 class="absolute top-[-5px] left-[95px]">{{ B }}</h1>
            <h1 class="absolute top-[43px] left-[126px]">{{ r }}</h1>
          </div>
          <div class="relative w-[550px] flex flex-wrap justify-center">
            <img
              src="../../../../../assets/images/single_row_ball_bearing_snap_ring_two.png"
              class="h-[350px] w-full"
            /> -->
  <!-- <h1 class="absolute top-[160px] left-[301px]">{{ d }}</h1>
              <h1 class="absolute top-[183px] left-[45px]">{{ D }}</h1>
              <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1>
              <h1 class="absolute top-[40px] left-[180px]">{{ r }}</h1>-->
  <!-- <h1 class="absolute top-[146px] left-[256px]">{{ ra }}</h1>
            <h1 class="absolute top-[159px] left-[88px]">{{ Da }}</h1>
            <h1 class="absolute top-[182px] left-[369px]">{{ da }}</h1>
          </div>
        </div>

      </mat-tab> -->
  <!-- </mat-tab-group> -->
</div>
<!-- <app-adapterassembliessphericaltable></app-adapterassembliessphericaltable> -->
<div>
  <!-- <app-deep-groove-table (bearingValue)="receivedValue($event)"></app-deep-groove-table> -->
</div>
<!-- </div> -->

<!-- </div> -->
