<div class="p-1" style="height: calc(100vh - 78px)">
  <div class="flex flex-col-reverse sm:flex-col">
    <div>
      <!-- <mat-tab-group mat-align-tabs="center"> -->
      <!-- <mat-tab label="Type - 1"> -->
      <p class="p-1 text-black font-medium text-center mx-auto">Spherical roller bearings</p>
      <div class="flex justify-center p-2 m-1">
        <div class="relative flex flex-col lt-xs:flex-col space-y-4 justify-center">
          <!-- <img
                src="../../../../../../assets/images/extrasmallopensealed.png"
                class="w-[600px]  h-[350px]"
              /> -->
          <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4">
            <img src="../../../../../../assets/images/spherical1.png" class="w-[300px]h-[300px]" alt="" />
            <div class="flex justify-center lt-xs:space-y-4">
              <img src="../../../../../../assets/images/spherical2.png" class="w-[300px] h-[300px]" alt="" />
            </div>
          </div>
          <div class="flex flex-row lt-xs:flex-col justify-center lt-xs:space-y-4">
            <div class="flex justify-center">
              <img src="../../../../../../assets/images/spherical3.png" class="h-[300px] w-[300px]" alt="" />
            </div>
            <div class="flex justify-center">
              <img src="../../../../../../assets/images/spherical4.png" class="h-[300px] w-[300px]" alt="" />
            </div>
            <!--   <div class="flex justify-center">
                  <img src="../../../../../../assets/images/cylidrical5.png" class="h-[300px] w-[200px]" alt="" />
                </div> -->
          </div>

          <h1 class="absolute top-[124px] left-[408px] lt-xs:top-[105px] lt-xs:left-[248px]">{{ d }}</h1>
          <h1 class="absolute top-[143px] left-[66px] lt-xs:left-[35px] lt-xs:top-[142px]">{{ D }}</h1>
          <h1 class="absolute top-[23px] left-[360px] lt-xs:left-[82px] lt-xs:top-[349px]">{{ B }}</h1>

          <h1 class="absolute top-[106px] left-[300px] lt-xs:left-[116px] lt-xs:top-[53px]">{{ r }}</h1>
          <h1 class="absolute top-[428px] left-[576px] lt-xs:top-[1052px] lt-xs:left-[260px]">{{ da }}</h1>
          <h1 class="absolute top-[429px] left-[334px] lt-xs:left-[37px] lt-xs:top-[1053px]">{{ Da }}</h1>
          <!--  <h1 class="absolute top-[140px] left-[548px] gt-lg:left-[568px] lt-xs:left-[126px] lt-xs:top-[333px]">
            {{ Fw }}
          </h1> -->

          <h1 class="absolute top-[323px] gt-lg:left-[501px] left-[504px] lt-xs:left-[194px] lt-xs:top-[942px]">
            {{ ra }}
          </h1>

          <!--  <h1 class="absolute top-[423px] left-[90px] lt-xs:left-[41px] lt-xs:top-[635px]">{{ da }}</h1>
          <h1 class="absolute top-[426px] left-[301px] gt-lg:left-[319px] lt-xs:top-[634px] lt-xs:left-[242px]">
            {{ Da }}
          </h1>
          <h1 class="absolute top-[443px] left-[638px] gt-lg:top-[427px] lt-xs:top-[951px] lt-xs:left-[259px]">
            {{ db }}
          </h1> -->
          <!--  <h1 class="absolute top-[2px] left-[122px]">{{ B }}</h1>-->
          <!-- <h1 class="absolute top-[22px] left-[228px]">{{ r }}</h1>
          <h1 class="absolute top-[161px] left-[45px]">{{ Da }}</h1>ml-12 mt-24 -mr-36 lg:-ml-44 lg:mr-2
          <h1 class="absolute top-[161px] left-[299px]">{{ da }}</h1> -->

          <!-- <h1 class="absolute top-[119px] left-[121px] gt-lg:left-[118px] lt-xs:top-[52px] lt-xs:left-[69px]">
                {{ d }}
              </h1>

              <h1 class="absolute top-[114px] left-[44px] lt-xs:top-[76px] lt-xs:left-[8px]">{{ D }}</h1>
              <h1 class="absolute top-[0px] left-[91px] lt-xs:left-[50px] lt-xs:top-[-13px]">{{ B }}</h1>
              <h1 class="absolute top-[32px] left-[111px] lt-xs:left-[67px] lt-xs:top-[5px]">{{ r }}</h1>
              <h1 class="absolute top-[90px] left-[247px] lt-xs:left-[179px] lt-xs:top-[39px]">{{ r1 }}</h1>
              <h1 class="absolute top-[133px] left-[363px] lt-xs:left-[107px] lt-xs:top-[65px]">{{ Fw }}</h1>
              <h1 class="absolute top-[116px] left-[458px] lt-xs:left-[133px] lt-xs:top-[307px]">{{ Ew }}</h1>
              <h1 class="absolute top-[241px] left-[61px] lt-xs:left-[23px] lt-xs:top-[149px]">{{ NU }}</h1>
              <h1 class="absolute top-[239px] left-[192px] lt-xs:top-[149px] lt-xs:left-[130px]">{{ NJ }}</h1>
              <h1 class="absolute top-[238px] left-[288px] lt-xs:top-[149px] lt-xs:left-[215px]">{{ NUP }}</h1>
              <h1 class="absolute top-[238px] left-[395px] lt-xs:top-[428px] lt-xs:left-[70px]">{{ N }}</h1>

              <h1 class="absolute top-[239px] left-[495px] lt-xs:top-[428px] lt-xs:left-[173px]">{{ NF }}</h1>
              <h1 class="absolute top-[430px] left-[144px] lt-xs:left-[185px] lt-xs:top-[619px]">{{ da }}</h1>
              <h1 class="absolute top-[430px] left-[415px] lt-xs:top-[936px] lt-xs:left-[58px]">{{ Da }}</h1>
              <h1 class="absolute top-[433px] left-[379px] lt-xs:left-[230px] lt-xs:top-[938px]">{{ dc }}</h1>
              <h1 class="absolute top-[428px] left-[579px] lt-xs:top-[1276px] lt-xs:left-[240px]">{{ dd }}</h1>
              <h1 class="absolute top-[334px] left-[334px] lt-xs:left-[174px] lt-xs:top-[841px]">{{ ra }}</h1>
              <h1 class="absolute top-[330px] left-[125px] lt-xs:top-[519px] lt-xs:left-[165px]">{{ rb }}</h1>
              <h1 class="absolute top-[431px] left-[241px] lt-xs:left-[102px] lt-xs:top-[959px]">{{ db }}</h1>

              <h1 class="absolute top-[448px] left-[-3px] lt-xs:left-[42px] lt-xs:top-[638px]">{{ Db }}</h1> -->
        </div>
      </div>

      <app-sphericalrollerbearingstable (bearingValue)="receivedValue($event)"> </app-sphericalrollerbearingstable>
      <!-- </mat-tab> -->
      <!-- </mat-tab-group> -->
    </div>

    <div>
      <!-- <app-deep-groove-table (bearingValue)="receivedValue($event)"></app-deep-groove-table> -->
    </div>
  </div>
</div>
